.test{
	color: red;
}
.panel {
    position: relative;
    color: #696c78;
    background-color: #fff;
    border: none;
    box-shadow: 0 1px 2px #c3c3c3;
    border-radius: 3px;
	margin-bottom: 20px;
}

.panel-white, .partition-white {
    background-color: #fff;
    color: #616161;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}

#vocab-words .boxed {
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
}
.boxed {
    border: 1px solid #eee;
    box-shadow: 0 0 2px #eee;
}

.boxed .btn {
    padding: 12px 15px;
    border-radius: 0;
}

.btn-green {
    color: #33691e;
    background-color: #f1f8e9;
    border-color: #dcedc8;
}

.boxed a {
    font-size: 14px;
    display: block;
    margin: -1px;
    cursor: pointer;
}

.center {
    text-align: center;
}

.text-2x-large {
    padding: 36px 0;
}
.text-2x-large {
    font-size: 36px !important;
}

.bold-text {
    font-weight: bold;
}
